body {
  margin: 0;
  background: #000000;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.green {
  background: green;
}

.green.light {
  background: lightgreen;
}

.red {
  background: red;
}

.red.light {
  background: pink;
}

.yellow {
  background: yellow;
}

.yellow.light {
  background: lightyellow;
}

.blue {
  background: blue;
}

.blue.light {
  background: lightseagreen;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}

*{
  font-family: 'Arial';
}